# ------------------------------------------
importFrom("graphics", "par")
importFrom("stats", "fisher.test", "pchisq", "phyper", "pt", "qchisq", "sd")
importFrom("utils", "type.convert")    
importFrom("ca", "ca")
importFrom("XML", "xmlValue")
importFrom("tm", "VCorpus", "TermDocumentMatrix")
importFrom("stringr", "str_trunc")
importFrom("dplyr", "bind_rows")
# ------------------------------------------
export("addfreqlists")
export("as.data.frame.conc")
export("as.data.frame.freqlist")
export("as.data.frame.zoom_re.freqlist")
export("as_conc")
export("as_freqlist")
export("assoc_scores")
export("assoc_abcd")
export("cleanup_spaces")
export("col_pcoord")
export("cat_re")
export("conc_re")
export("conc_to_dataset_antconc")
export("conc_to_dataset_bibleworks")
export("conc_to_dataset_corpuseye")
export("cosine_dist")
export("drop_tags")
export("find_xpath")
export("freqlist")
export("import_conc")
export("merge_conc")
export("surf_cooc")
export("text_cooc")
export("p_to_chisq1")
export("print.conc")
export("print.freqlist")
export("print_kwic")
export("print.zoom_re.freqlist")
export("chisq1_to_p")
export("zero_plus")
export("read_conc")
export("read_dataset")
export("read_txt")
export("row_pcoord")
export("scan_re")
export("scan_txt")
export("tokenize")
export("write_conc")
export("write_dataset")
export("write_txt")
export("xlim4ca")
export("ylim4ca")
export("zoom_re")
S3method("zoom_re", "default")
S3method("zoom_re", "freqlist")
# ------------------------------------------



